.home {
  $TOP_MARGIN: 20px;

  &__form {
    &__swap {
      cursor: pointer;
    }
    &__footer {
      margin-top: $TOP_MARGIN;
    }
  }
  &__ordersummary {
    margin-top: $TOP_MARGIN * 2;
  }
}
